[Unit]
Description=Bootstrap a Kubernetes cluster with kubeadm
Wants=etcd.service
After=etcd.service
ConditionPathExists=!/opt/k8s/init.done

[Service]  
Restart=on-failure
RestartSec=10s

Environment=MASTER_MODE=0
Environment=WORKER_MODE=0
Environment=ETCD_ENDPOINTS=https://127.0.0.1:2379
Environment=ETCD_CA_FILE=/etc/kubernetes/etcd/ca.crt
Environment=ETCD_CERT_FILE=/etc/kubernetes/etcd/client.crt
Environment=ETCD_KEY_FILE=/etc/kubernetes/etcd/client.key
Environment=API_ENDPOINT=
Environment=CACRT_ETCD_KEY=k8s/cacrt
Environment=CACRT_SHASUM_ETCD_KEY=k8s/cacrt-sha256
Environment=BOOTSTRAP_TOKEN_ETCD_KEY=k8s/boostrap-token
Environment=PKI_ETCD_KEY=k8s/pki
Environment=MASTERS_ETCD_KEYPREFIX=k8s/masters
Environment=INIT_ETCD_LOCK=k8s/k8s-init-lock
Environment=K8S_ADMIN_SA_USERNAME=admin
Environment=K8S_ADMIN_SA_USERNAME_ETCD_KEY=k8s/admin/sa-name
Environment=K8S_ADMIN_SA_USER_TOKEN_ETCD_KEY=k8s/admin/user-token
Environment=K8S_ADMIN_SA_ENDPOINT_ETCD_KEY=k8s/admin/endpoint
Environment=K8S_ADMIN_SA_CLUSTER_NAME_ETCD_KEY=k8s/admin/cluster-name

Environment=POD_MANIFEST_PATH=/etc/kubernetes/manifests
Environment=CLUSTER_DOMAIN=cluster.local
Environment=UPSTREAM_RESOLVER=213.186.33.99:53
Environment=NETWORKING_SERVICE_SUBNET=10.3.0.0/16
Environment=NETWORKING_POD_SUBNET=10.2.0.0/16
Environment=API_SERVER_CERT_SANS=127.0.0.1
Environment=KUBERNETES_VERSION=1.12.0
Environment=KUBEPROXY_CONFIG_MODE=iptables
Environment=AUTHORIZATION_MODES=Node,RBAC

EnvironmentFile=/etc/sysconfig/kubernetes.conf

ExecStartPre=/opt/k8s/k8s-get-certs
ExecStart=/opt/k8s/k8s-init

[Install]
WantedBy=multi-user.target
